!!! 5
html
    head
        title PokerFace: Planning Poker
        script
            var require = {
                baseUrl: '#{assetsUrl}',
                config: {
                    'pokerface/app': {
                        root: '#{appRoot}'
                    },
                    'pokerface/service': {
                        url: '#{apiUrl}'
                    }
                }
            };

        script(type='text/x-handlebars-template', id='new-room-tmpl').
            <h1>Create a Room</h1>
            <div class="new-room-container">
            {{#each rooms}}
                <button id="{{id}}" class="btn btn-large btn-block new-room">
                    <div class="title">{{title}}</div>
                    <div class="values">{{#join cards ', '}}{{label}}{{/join}}</div>
                </button>
            {{/each}}
            </div>

        script(type='text/x-handlebars-template', id='room-tmpl').
                <div id="header">
                    <div id="users">
                    </div>
                    <div id="stats" style="display: none">
                        <div id="stat-average" class="stat"><span class="stat-title">Average</span><span class="stat-value"></span></div>
                    </div>
                </div>
                <div class="cards">
                {{#each room.type.cards}}
                    <div data-value="{{value}}" data-label="{{label}}" class="card"><span class="count"></span>{{label}}</div>
                {{/each}}
                </div>

        script(type='text/x-handlebars-template', id='user-tmpl').
            <div id="user_{{user.id}}" class="user">
                <div class="username">{{user.name}}</div>
                {{#if card}}
                <div data-value="{{card.value}}" class="card selected">{{card.label}}</div>
                {{else}}
                <div class="card none">&nbsp;</div>
                {{/if}}
            </div>

        script(src=assetsUrl+'/require.js', data-main='pokerface/main')
        link(rel='stylesheet', href=assetsUrl+'/bootstrap/bootstrap.css')
        link(rel='stylesheet', href=assetsUrl+'/pokerface/app.css')
    body
        div(class="container", id="content")
        div(class="modal hide fade", id="name-modal")
            form(class="form-horizontal modal-form")
                div(class="modal-header")
                    h3 Enter your name
                div(class="modal-body")
                        div(class="control-group")
                            label(class="control-label", for="input-name") Name
                            div(class="controls")
                                input(type="text", id="input-name", placeholder="Name")
                div(class="modal-footer")
                    button(type="submit", class="btn btn-primary", aria-hidden="true") Join

