!!! 5
html
    head
        title PokerFace: Planning Poker
        script
            var require = {
                baseUrl: '#{assetsUrl}',
                config: {
                    'pokerface/app': {
                        root: '#{appRoot}'
                    },
                    'pokerface/service': {
                        url: '#{apiUrl}'
                    }
                }
            };

        script(type='text/x-handlebars-template', id='new-room-tmpl').
            <h1>Create a Room</h1>
            <div class="new-room-container">
            {{#each rooms}}
                <button id="{{id}}" class="btn btn-large btn-block new-room">
                    <div class="title">{{title}}</div>
                    <div class="values">{{#join cards ', '}}{{label}}{{/join}}</div>
                </button>
            {{/each}}
            </div>

        script(type='text/x-handlebars-template', id='room-tmpl').
            <div class="container">
                <div id="users">
                </div>
                <div class="cards">
                {{#each room.type.cards}}
                    <div data-value="{{value}}" class="card">{{label}}</div>
                {{/each}}
                </div>
            </div>

        script(type='text/x-handlebars-template', id='user-tmpl').
            <div id="user_{{user.id}}" class="user">
                <div class="username">{{user.name}}</div>
                {{#if card}}
                <div data-value="{{card.value}}" class="card">{{card.label}}</div>
                {{else}}
                <div class="card none">&nbsp;</div>
                {{/if}}
            </div>

        script(src=assetsUrl+'/require.js', data-main='pokerface/main')
        link(rel='stylesheet', href=assetsUrl+'/bootstrap/bootstrap.css')
        link(rel='stylesheet', href=assetsUrl+'/pokerface/app.css')
    body
